/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa !important; /* Un gris muy suave de fondo */
  /* #f8f9fa gris claro */
}

#root {
  width: 100%;
  min-height: 100vh;
}